.mainArea {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  position: relative;
  width: 100%;
  padding-top: 50px;
}

.confusedText {
  color: var(--grey);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: center;
  margin-top: 25px;
}

.fab {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: var(--primary);
  padding: 20px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
