:root {
  --primary: #3d52d5;
  --secondary: #cecfff;
  --secondary-shade: #bcbaf1;

  --yellow: #fdffc2;
  --orange: #f19f00;
  --red: #db152f;
  --pink: #ff76ce;
  --blue: #80b2ff;
  --green: #19998b;

  --light: #f6fff7;
  --medium: #8b8b8b;
  --dark-med: #5e5e5e;
  --dark: #2c2c2a;
}
