.mainArea {
  padding: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  margin-bottom: 137px;
}

.formArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
