.mainArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 5%;
}

.center {
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 28px;
  font-weight: 700;
  text-align: left;
  display: block;
  width: 100%;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.smallText {
  margin-top: 16px;
  font-size: 13px;
  color: var(--dark-med);
  text-decoration: none;
}
