.styledButton {
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-med);
  background-color: var(--secondary);
  padding: 22px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: 100%;
  transition: 0.1s ease-in-out background-color;
  border-radius: 22px;
  border: none;
}

.styledButton:hover {
  background-color: var(--secondary-shade);
}

.styledButton:disabled {
  background-color: var(--medium);
  cursor: not-allowed;
}

.outlined {
  background: none;
  border: 2px solid var(--secondary);
  transition: 0.1s ease-in-out color, 0.1s ease-in-out background-color;
}

.outlined:hover {
  background-color: var(--secondary);
}
